/.phpunit.cache
/bootstrap/cache/*.php
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
!/storage/app/private
!/storage/app/private/.gitignore
!/storage/app/public
!/storage/app/public/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/vendor
/.env
/.env.backup
/.env.production
/composer.phar
/compose.yaml
/compose.debug.yaml
/database/database.sqlite
npm-debug.log
yarn-error.log
